/* helpers
*******************************************************************/

@for $i from 5 through 35 {
    $j: $i * 2;
    .font-#{$j} {
        font-size: #{$j}px !important;
    }
}

.app-bg-color-1 {
    background-color: $app-color-1 !important;
}
.app-bg-color-2 {
    background-color: $app-color-2 !important;
}

.app-color-1 {
    color: $app-color-1 !important;
}
.app-color-2 {
    color: $app-color-2 !important;
}
.app-color-3 {
    color: $app-color-3 !important;
}

.white {
    color: $white;
}

.black {
    color: $black;
}

.gray-100 {
    color: $gray-100;
}
.gray-200 {
    color: $gray-200;
}
.gray-300 {
    color: $gray-300;
}
.gray-400 {
    color: $gray-400;
}
.gray-500 {
    color: $gray-500;
}
.gray-600 {
    color: $gray-600;
}
.gray-700 {
    color: $gray-700;
}
.gray-800 {
    color: $gray-800;
}
.gray-900 {
    color: $gray-900;
}

.bg-gray-100 {
    background-color: $gray-100 !important;
}
.bg-gray-200 {
    background-color: $gray-200 !important;
}

@include media-breakpoint-up(lg) {
    .bg-lg-gray-200 {
        background-color: $gray-200 !important;
    }
}

.bg-gray-300 {
    background-color: $gray-300 !important;
}
.bg-gray-400 {
    background-color: $gray-400 !important;
}
.bg-gray-500 {
    background-color: $gray-500 !important;
}
.bg-gray-600 {
    background-color: $gray-600 !important;
}
.bg-gray-700 {
    background-color: $gray-700 !important;
}
.bg-gray-800 {
    background-color: $gray-800 !important;
}
.bg-gray-900 {
    background-color: $gray-900 !important;
}

.no-wrap {
    white-space: nowrap;
}

@for $i from 0 through 20 {
    $j: $i * 5;
    .mt-#{$j} {
        margin-top: #{$j}px !important;
    }
    .mr-#{$j} {
        margin-right: #{$j}px !important;
    }
    .mb-#{$j} {
        margin-bottom: #{$j}px !important;
    }
    .ml-#{$j} {
        margin-left: #{$j}px !important;
    }
    .mx-#{$j} {
        margin-left: #{$j}px !important;
        margin-right: #{$j}px !important;
    }
    .mx-n#{$j} {
        margin-left: -#{$j}px !important;
        margin-right: -#{$j}px !important;
    }
    .my-#{$j} {
        margin-top: #{$j}px !important;
        margin-bottom: #{$j}px !important;
    }
}

@for $i from 0 through 20 {
    $j: $i * 5;
    .pt-#{$j} {
        padding-top: #{$j}px !important;
    }
    .pr-#{$j} {
        padding-right: #{$j}px !important;
    }
    .pb-#{$j} {
        padding-bottom: #{$j}px !important;
    }
    .pl-#{$j} {
        padding-left: #{$j}px !important;
    }
    .px-#{$j} {
        padding-left: #{$j}px !important;
        padding-right: #{$j}px !important;
    }
    .py-#{$j} {
        padding-top: #{$j}px !important;
        padding-bottom: #{$j}px !important;
    }
}

@media (min-width: 576px) {
    @for $i from 0 through 20 {
        $j: $i * 5;
        .mt-sm-#{$j} {
            margin-top: #{$j}px !important;
        }
        .mr-sm-#{$j} {
            margin-right: #{$j}px !important;
        }
        .mb-sm-#{$j} {
            margin-bottom: #{$j}px !important;
        }
        .ml-sm-#{$j} {
            margin-left: #{$j}px !important;
        }
        .mx-sm-#{$j} {
            margin-left: #{$j}px !important;
            margin-right: #{$j}px !important;
        }
        .my-sm-#{$j} {
            margin-top: #{$j}px !important;
            margin-bottom: #{$j}px !important;
        }
    }

    @for $i from 0 through 20 {
        $j: $i * 5;
        .pt-sm-#{$j} {
            padding-top: #{$j}px !important;
        }
        .pr-sm-#{$j} {
            padding-right: #{$j}px !important;
        }
        .pb-sm-#{$j} {
            padding-bottom: #{$j}px !important;
        }
        .pl-sm-#{$j} {
            padding-left: #{$j}px !important;
        }
        .px-sm-#{$j} {
            padding-left: #{$j}px !important;
            padding-right: #{$j}px !important;
        }
    }
}

@media (min-width: 768px) {
    @for $i from 0 through 20 {
        $j: $i * 5;
        .mt-md-#{$j} {
            margin-top: #{$j}px !important;
        }
        .mr-md-#{$j} {
            margin-right: #{$j}px !important;
        }
        .mb-md-#{$j} {
            margin-bottom: #{$j}px !important;
        }
        .ml-md-#{$j} {
            margin-left: #{$j}px !important;
        }
        .mx-md-#{$j} {
            margin-left: #{$j}px !important;
            margin-right: #{$j}px !important;
        }
        .my-md-#{$j} {
            margin-top: #{$j}px !important;
            margin-bottom: #{$j}px !important;
        }
    }

    @for $i from 0 through 20 {
        $j: $i * 5;
        .pt-md-#{$j} {
            padding-top: #{$j}px !important;
        }
        .pr-md-#{$j} {
            padding-right: #{$j}px !important;
        }
        .pb-md-#{$j} {
            padding-bottom: #{$j}px !important;
        }
        .pl-md-#{$j} {
            padding-left: #{$j}px !important;
        }
        .px-md-#{$j} {
            padding-left: #{$j}px !important;
            padding-right: #{$j}px !important;
        }
    }
}

@media (min-width: 992px) {
    @for $i from 0 through 20 {
        $j: $i * 5;
        .mt-lg-#{$j} {
            margin-top: #{$j}px !important;
        }
        .mr-lg-#{$j} {
            margin-right: #{$j}px !important;
        }
        .mb-lg-#{$j} {
            margin-bottom: #{$j}px !important;
        }
        .ml-lg-#{$j} {
            margin-left: #{$j}px !important;
        }
        .mx-lg-#{$j} {
            margin-left: #{$j}px !important;
            margin-right: #{$j}px !important;
        }
        .my-lg-#{$j} {
            margin-top: #{$j}px !important;
            margin-bottom: #{$j}px !important;
        }
    }

    @for $i from 0 through 20 {
        $j: $i * 5;
        .pt-lg-#{$j} {
            padding-top: #{$j}px !important;
        }
        .pr-lg-#{$j} {
            padding-right: #{$j}px !important;
        }
        .pb-lg-#{$j} {
            padding-bottom: #{$j}px !important;
        }
        .pl-lg-#{$j} {
            padding-left: #{$j}px !important;
        }
        .px-lg-#{$j} {
            padding-left: #{$j}px !important;
            padding-right: #{$j}px !important;
        }
    }
}

@media (min-width: 1200px) {
    @for $i from 0 through 20 {
        $j: $i * 5;
        .mt-xl-#{$j} {
            margin-top: #{$j}px !important;
        }
        .mr-xl-#{$j} {
            margin-right: #{$j}px !important;
        }
        .mb-xl-#{$j} {
            margin-bottom: #{$j}px !important;
        }
        .ml-xl-#{$j} {
            margin-left: #{$j}px !important;
        }
        .mx-xl-#{$j} {
            margin-left: #{$j}px !important;
            margin-right: #{$j}px !important;
        }
        .my-xl-#{$j} {
            margin-top: #{$j}px !important;
            margin-bottom: #{$j}px !important;
        }
    }

    @for $i from 0 through 20 {
        $j: $i * 5;
        .pt-xl-#{$j} {
            padding-top: #{$j}px !important;
        }
        .pr-xl-#{$j} {
            padding-right: #{$j}px !important;
        }
        .pb-xl-#{$j} {
            padding-bottom: #{$j}px !important;
        }
        .pl-xl-#{$j} {
            padding-left: #{$j}px !important;
        }
        .px-xl-#{$j} {
            padding-left: #{$j}px !important;
            padding-right: #{$j}px !important;
        }
    }
}


.mt-n10 {
    margin-top: -10px;
}

.mt-n20 {
    margin-top: -20px;
}

.mt-n30 {
    margin-top: -30px;
}

.mt-n40 {
    margin-top: -40px;
}

.mr-n30 {
    margin-right: -30px;
}

.bodyLock {
    height: 100vh;
    overflow: hidden;
}

.scroll-h {
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    margin-bottom: -20px !important;
    padding-bottom: 20px !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

    &::-webkit-scrollbar {
        display: none;
    }

    > * {
        white-space: nowrap;
    }
}


.row.gutter-xs {
    margin-left: -5px;
    margin-right: -5px;
}

.row.gutter-xs > [class^="col-"],
.row.gutter-xs > [class^=" col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.row.gutter-sm {
    margin-left: -10px;
    margin-right: -10px;
}

.row.gutter-sm > [class^="col-"],
.row.gutter-sm > [class^=" col-"] {
    padding-left: 10px;
    padding-right: 10px;
}

.pointer {
    cursor: pointer;
}

.valign {
    vertical-align: middle;
}

@include media-breakpoint-up(md) {
    .position-md-relative {
        position: relative !important;
    }
}

@include media-breakpoint-only(xs) {
    .col-260 {
        -ms-flex: 0 0 260px;
        flex: 0 0 260px;
        max-width: 260px;
    }
}

@include media-breakpoint-only(sm) {
    .col-wv-sm-6 {
        -ms-flex: 0 0 50vw;
        flex: 0 0 50vw;
        max-width: 50vw;
    }
}
@include media-breakpoint-only(md) {
    .col-wv-md-5 {
        -ms-flex: 0 0 41.666667vw;
        flex: 0 0 41.666667vw;
        max-width: 41.666667vw;
    }
}
@include media-breakpoint-only(lg) {
    .col-wv-lg-4 {
        -ms-flex: 0 0 33.333333vw;
        flex: 0 0 33.333333vw;
        max-width: 33.333333vw;
    }
}

@include media-breakpoint-only(xl) {
    .col-wv-xl-3 {
        -ms-flex: 0 0 25vw;
        flex: 0 0 25vw;
        max-width: 25vw;
    }
}

.col-25 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}