/* custom forms
*******************************************************************/

.panel-label {

  @include media-breakpoint-down(sm) {
    position: relative;
    display: block;
    margin-bottom: 30px;
  }

  .panel {
    position: absolute;
    top: 0;
    height: 100%;
    @include media-breakpoint-down(sm) {
      width: 100vw;
    }
    @include media-breakpoint-up(md) {
      width: 50vw;
    }

    &.panel-warm {
      @include media-breakpoint-up(md) {
        right: calc(50% + -10px);
      }
      @include media-breakpoint-down(sm) {
        right: 0;
        box-shadow: 9px 0 4px 1px rgba(0,0,0,.3);
      }
      transition: transform cubic-bezier(0.68, 0, 0.265, 1) 1s;
      z-index: 2;
      img {
        @include media-breakpoint-up(md) {
          right: 0;
          height: 100%;
        }
        @include media-breakpoint-down(sm) {
          top: -1%;
          left: -2%;
          height: 102%;
        }
      }
    }
    &.panel-cold {
      @include media-breakpoint-up(md) {
        left: calc(50% + -10px);
      }
      @include media-breakpoint-down(sm) {
        right: 0;
        box-shadow: 9px 0 4px 1px rgba(0,0,0,.3);
      }
      transition: transform cubic-bezier(0.68, 0, 0.265, 1) 1s;
      z-index: 1;
      img {
        @include media-breakpoint-up(md) {
          left: 0;
          height: 100%;
        }
        @include media-breakpoint-down(sm) {
          top: -1%;
          left: -2%;
          height: 102%;
        }
      }
    }
    img {
      height: 100%;
      width: auto;
      position: absolute;
    }
  }

}

.section-enter {
  .panel-label {
    .panel {
      &.panel-warm {
        transform: translateX(-80%);
      }
      &.panel-cold {
        transform: translateX(80%);
      }
      @include media-breakpoint-down(sm) {
        &.panel-warm {
          transform: translateX(-90%);
        }
        &.panel-cold {
          transform: translateX(-90%);
        }
      }
    }
  }
}

.label {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 22px;

  @include media-breakpoint-down(sm) {
    font-size: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    .checkbox {
      margin-top: 6px;
      margin-left: 0 !important;
    }
  }
  @include media-breakpoint-only(md) {
    font-size: 17px;
  }
  @include media-breakpoint-only(lg) {
    font-size: 18px;
  }
  input[type="checkbox"] {
    display: none;
    &:checked ~ .checkbox {
      background-color: $app-color-1;
      background-size: 24px;
      @include media-breakpoint-down(md) {
        background-size: 16px;
      }
      @include media-breakpoint-only(lg) {
        background-size: 20px;
      }
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23FFFFFF' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
  }

  .checkbox {
    width: 36px;
    height: 36px;
    @include media-breakpoint-down(md) {
      width: 24px;
      height: 24px;
    }
    @include media-breakpoint-only(lg) {
      width: 30px;
      height: 30px;
    }
    border-radius: 50%;
    border: 2px solid lighten($app-color-1, 20%);
    display: inline-block;
    background-position: center 20px;
    transition: background cubic-bezier(0.68, 0, 0.265, 1) .3s, border-color cubic-bezier(0.68, 0, 0.265, 1) .3s;
  }

  &:hover {
    .checkbox {
      border-color: $app-color-1;
    }
  }
}

.btn-label {
  padding: 0;
  input[type="checkbox"] {
    display: none;
    &:checked ~ .label {
      background-color: $app-color-1;
      color: $white;
    }
  }
  &:hover {
    .label {
      background-color: $gray-200;
      color: $gray-500;
    }
  }
  .label {
    background-color: $gray-100;
    color: $gray-400;
    font-size: 14px;
    font-weight: 500;
    height: 32px;
    padding: 0 16px;
  }
}

.input-group-text {
  background-color: $white;
}

.form-control {
  border-radius: 0;
}
