/* header
*******************************************************************/

header {
    position: sticky;
    top: 0;
    z-index: 101;
    width: 100%;
    background: $white;
    box-shadow: 0 2px 12px 0 rgba($lightblack,.2);
    padding: 14px 0;

    body.sm & {
        .brand {
            margin: 0;
            img {
                width: 200px;
                @include media-breakpoint-only(xs) {
                    width: 132px;
                }
                @include media-breakpoint-only(sm) {
                    width: 180px;
                }
                @include media-breakpoint-only(md) {
                    width: 200px;
                }
                @include media-breakpoint-only(lg) {
                    width: 200px;
                }
            }
        }
    }

    .brand {
        margin: 10px 0;
        display: block;
        transition: margin ease-in .2s;
        img {
            width: 232px;
            @include media-breakpoint-only(xs) {
                width: 132px;
            }
            @include media-breakpoint-only(sm) {
                width: 180px;
            }
            @include media-breakpoint-only(md) {
                width: 220px;
            }
            @include media-breakpoint-only(lg) {
                width: 200px;
            }
            transition: width ease-in .2s;
        }
    }

    h2 {
        font-weight: 300;
        margin-bottom: 0;
    }

    a {
        color: $gray-800;
        font-weight: 500;
    }

}
