/* header
*******************************************************************/

header {
    position: sticky;
    top: 0;
    z-index: 101;
    width: 100%;
    background: $white;
    box-shadow: 0 2px 12px 0 rgba($lightblack,.2);
    padding: 0 0 24px 0;
    @include media-breakpoint-down(md) {
        padding-bottom: 14px;
    }

    .container-fluid {
        @include media-breakpoint-up(lg) {
            padding-left: 51px;
            padding-right: 51px;
        }
    }

    .corpHeader {
        background-color: $gray-800;
        height: 36px;
        margin-bottom: 24px;
        @include media-breakpoint-down(md) {
            margin-bottom: 14px;
        }
        .brand {
            padding: 9px 30px 8px 0;
            display: block;
            margin: 0;
            img {
                width: 118px;
                display: block;
            }
        }
    }

    h2 {
        font-weight: 300;
        margin-bottom: 0;
        @include media-breakpoint-only(xs) {
            font-size: 16px;
        }
        @include media-breakpoint-only(sm) {
            font-size: 18px;
        }
        @include media-breakpoint-only(md) {
            font-size: 18px;
        }
    }

    a {
        color: $gray-800;
        font-weight: 500;
    }

}
