/* home
*******************************************************************/

.section-welcome,
.section-wizard-step-1,
.section-wizard-step-2,
.section-wizard-step-3 {
  @include media-breakpoint-up(md) {
    text-align: center;
  }
  padding: 10vh 0;
  @include media-breakpoint-only(lg) {
    padding: 80px 0;
  }
  @include media-breakpoint-only(md) {
    padding: 50px 0;
  }
  position: relative;
}

.section-welcome {
  background-color: $white;
  z-index: 1;
  position: relative;
  text-align: center;
  @include media-breakpoint-only(xl) {
    min-height: 70vh;
  }
  padding: 10vh 0 15vh;
  h1 {
    font-weight: 300;
    line-height: 1.3em;
    font-size: 88px;
    margin-bottom: 160px;
    @include media-breakpoint-only(xs) {
      font-size: 30px;
      margin-bottom: 90px;
    }
    @include media-breakpoint-only(sm) {
      font-size: 36px;
      margin-bottom: 90px;
    }
    @include media-breakpoint-only(md) {
      font-size: 56px;
      margin-bottom: 100px;
    }
    @include media-breakpoint-only(lg) {
      font-size: 64px;
      margin-bottom: 120px;
    }
    @media (min-width: 1200px) and (max-width: 1640px) {
      font-size: 78px;
    }
    small {
      display: block;
      font-size: 48px;
      color: $gray-800;
      font-weight: 700;
      @include media-breakpoint-only(xs) {
        font-size: 20px;
      }
      @include media-breakpoint-only(sm) {
        font-size: 24px;
      }
      @include media-breakpoint-only(md) {
        font-size: 32px;
      }
      @include media-breakpoint-only(lg) {
        font-size: 36px;
      }
      @media (min-width: 1200px) and (max-width: 1640px) {
        font-size: 40px;
      }
    }
    transform: translateY(80px);
    opacity: 0;
    transition: all cubic-bezier(0.68, 0, 0.265, 1) .4s;
  }
  .btn {
    transform: translateY(80px);
    opacity: 0;
    transition: all cubic-bezier(0.68, 0, 0.265, 1) .8s .2s;
  }

  &.section-enter {
    h1 {
      transform: translateY(0);
      opacity: 1;
    }
    .btn {
      transform: translateY(0);
      opacity: 1;
    }
  }

}

.section-wizard-step-1,
.section-wizard-step-2,
.section-wizard-step-3 {
  h2 {
    margin-bottom: 1.125em;
    font-size: 52px;
    position: relative;
    @include media-breakpoint-only(xs) {
      font-size: 22px;
      padding-left: 40px;
    }
    @include media-breakpoint-only(sm) {
      font-size: 28px;
      padding-left: 50px;
    }
    @include media-breakpoint-only(md) {
      font-size: 34px;
    }
    @include media-breakpoint-only(lg) {
      font-size: 40px;
    }
    @media (min-width: 1200px) and (max-width: 1640px) {
      font-size: 46px;
    }
    font-weight: 300;
    .num {
      width: 64px;
      height: 64px;
      border-radius: 32px;
      font-size: 40px;

      @include media-breakpoint-only(xs) {
        width: 26px;
        height: 26px;
        border-radius: 13px;
        font-size: 15px;
        top: 2px;
      }
      @include media-breakpoint-only(sm) {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        font-size: 17px;
        top: 2px;
      }
      @include media-breakpoint-only(md) {
        width: 44px;
        height: 44px;
        border-radius: 22px;
        font-size: 26px;
      }
      @include media-breakpoint-only(lg) {
        width: 48px;
        height: 48px;
        border-radius: 24px;
        font-size: 30px;
      }
      @media (min-width: 1200px) and (max-width: 1640px) {
        font-size: 36px;
      }
      background: $app-color-1;
      color: $white;
      font-weight: 700;
      text-align: center;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: relative;
      margin-right: .4em;
      top: -.1em;
      @include media-breakpoint-down(sm) {
        position: absolute;
        left: 0;
      }
    }
  }
  h3 {
    font-size: 36px;
    font-weight: 400;
    letter-spacing: .1em;
    margin-bottom: 1.4em;
    @include media-breakpoint-only(md) {
      font-size: 24px;
    }
    @include media-breakpoint-only(lg) {
      font-size: 28px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 16px;
      padding-top: 1.4em;
    }
    @media (min-width: 1200px) and (max-width: 1640px) {
      font-size: 32px;
    }
  }
}

.section-wizard-step-1 {
  padding-top: 0;
  padding-bottom: 0;

  .section-wizard-step-1_1,
  .section-wizard-step-1_2,
  .section-wizard-step-1_3 {
    position: relative;
    margin-bottom: 10vh;
  }

  .section-wizard-step-1_1 {
    padding-top: 10vh;
    @include media-breakpoint-only(lg) {
      padding-top: 80px;
    }
    @include media-breakpoint-only(md) {
      padding-top: 50px;
    }

    background-color: $white;
    z-index: 1;

    &.section-enter .interior,
    &.section-enter h2 {
      @include media-breakpoint-up(md) {
        transform: translateY(-30px);
      }
      @include media-breakpoint-down(sm) {
        transform: translateY(0);
      }
      opacity: 1;
    }

    h2 {
      display: block;
      transform: translateY(100px);
      opacity: 0;
      transition: all cubic-bezier(0.68, 0, 0.265, 1) .4s
    }
    .interior {
      display: block;
      @include media-breakpoint-up(md) {
        transform: translateY(100px);
        opacity: 0;
      }
      @include media-breakpoint-down(sm) {
        display: -ms-flexbox;
        display: flex;
        position: relative;
      }
      transition: all cubic-bezier(0.68, 0, 0.265, 1) .8s .2s;
      .interior-img {
        @include media-breakpoint-up(md) {
          margin-bottom: 20px;
        }
        @include media-breakpoint-down(sm) {
          padding-bottom: 51%;
          img {
            height: 100%;
            position: absolute;
            right: 0;
            max-width: none;
            width: auto;
          }
        }
      }

      @include media-breakpoint-down(sm) {
        display: -ms-flexbox;
        display: flex;
        .interior-img {
          flex: 0 1 50%;
          transform: translateY(0);
        }
        .label {
          flex: 0 1 50%;
        }
      }
    }

  }

  .section-wizard-step-1_2 {
    .position-sticky {
      bottom: 10vh;
    }
    .gfx-scroll {
      transform-origin: bottom;
      will-change: transform;
    }
    &.section-enter {
      @include media-breakpoint-down(sm) {
        .gfx-scroll {
          transform: translateX(0) rotateZ(90deg) !important;
          opacity: 1;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      label {
        padding-bottom: 38%;
        position: relative;
        margin-bottom: 30px;
        .gfx-scroll {
          position: absolute;
          transform: translateX(100%) rotateZ(90deg);
          transition: transform cubic-bezier(0.68, 0, 0.265, 1) .8s, opacity cubic-bezier(0.68, 0, 0.265, 1) .3s;
          opacity: 0;
          top: 0;
          transform-origin: right;
          left: 50%;
          height: 200%;
        }
        .label {
          position: absolute;
          top: 50%;
          left: 25%;
          transform: translateY(-50%) translateX(-50%);
        }
      }
    }
  }

  .section-wizard-step-1_3 {

    .interior-mat {
      display: block;
      transform: translateX(-50%);
      transition: transform cubic-bezier(0.68, 0, 0.265, 1) .8s, opacity cubic-bezier(0.68, 0, 0.265, 1) .3s;
      opacity: 0;
    }
    .interior-shine {
      display: block;
      transform: translateX(50%);
      @include media-breakpoint-down(sm) {
        transform: translateX(-50%);
      }
      transition: transform cubic-bezier(0.68, 0, 0.265, 1) .8s, opacity cubic-bezier(0.68, 0, 0.265, 1) .3s;
      opacity: 0;
    }

    @include media-breakpoint-down(sm) {
      label {
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: 100%;
        margin-bottom: 30px;
        .label {
          flex: 0 1 50%;
        }
        .interior-shine,
        .interior-mat {
          width: 50%;
          padding-bottom: 40%;
          img {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
          }
        }
      }
    }

    &.section-enter {
      .interior-mat {
        transform: translateX(0);
        opacity: 1;
      }
      .interior-shine {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}

.section-wizard-step-2 {

  @include media-breakpoint-down(sm) {
    padding-top: 0;
  }

  .section-wizard-step-2-header {
    transform: translateY(100px);
    opacity: 0;
    transition: all cubic-bezier(0.68, 0, 0.265, 1) .4s;
    &.section-enter {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .section-wizard-step-2-body {
    transform: translateY(100px);
    opacity: 0;
    transition: all cubic-bezier(0.68, 0, 0.265, 1) .8s .2s;

    .section-wizard-step-2-box {
      .section-wizard-step-2-img {
        &::before {
          content: "\e913";
          font-family: 'icomoon' !important;
          speak: never;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          display: inline-block;
          vertical-align: middle;
          position: absolute;
          color: $app-color-2;
          font-size: 70px;
          text-shadow: 0 3px white, 0 -5px white, -3px 0 white, 3px 0 white;
          bottom: 50px;
          left: 30px;
        }
        .section-wizard-step-2-img-drop {
          opacity: 1;
          transition: opacity cubic-bezier(0.68, 0, 0.265, 1) 4s 3s;
        }
      }
      &.section-enter {
        .section-wizard-step-2-img-drop {
          opacity: 0;
        }
      }
    }

    &.section-enter {
      transform: translateY(0);
      opacity: 1;
    }
  }

  table {
    td {
      padding: 25px 15px;
      @include media-breakpoint-down(sm) {
        padding: 15px 3px;
        &:last-of-type {
          padding-right: 0;
        }
        .label {
          -ms-flex-direction: row;
          flex-direction: row;
          .checkbox {
            margin-top: 0;
            margin-left: 12px !important;
            margin-right: 12px !important;
          }
        }
      }
      @include media-breakpoint-only(lg) {
        padding: 15px;
      }

      &:first-of-type {
        padding-left: 0;
      }
      i {
        font-size: 60px;
        &.icon-i-18 {
          font-size: 70px;
        }
        @include media-breakpoint-down(sm) {
          font-size: 34px;
          &.icon-i-18 {
            font-size: 42px;
          }
        }
        @include media-breakpoint-only(lg) {
          font-size: 50px;
          &.icon-i-18 {
            font-size: 60px;
          }
        }
      }
    }
  }
  .section-wizard-step-2-img,
  .section-wizard-step-2-box {
    width: 40vw;
    @include media-breakpoint-only(lg) {
      width: 60vw;
    }
    @include media-breakpoint-only(md) {
      width: 100vw;
    }
    @include media-breakpoint-up(md) {
      position: relative;
    }

    @media (min-width: 1200px) and (max-width: 1640px) {
      width: 50vw;
      .col-lg-xl-8 {
        flex: 0 0 64%;
        max-width: 64%;
      }
    }

    left: 0;
  }

  .section-wizard-step-2-box {
    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 0;
      left: calc(100% - 10px);
      height: 100%;
      .section-wizard-step-2-img {
        height: 100%;
        > img {
          height: 100%;
        }
      }
    }
  }

  .section-wizard-step-2-img {
    > img:first-of-type {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.section-wizard-step-3 {
  @include media-breakpoint-down(sm) {
    padding-top: 0;
  }

  text-align: center;
  .section-wizard-step-3-header {
    transform: translateY(100px);
    opacity: 0;
    transition: all cubic-bezier(0.68, 0, 0.265, 1) .4s;
    &.section-enter {
      transform: translateY(0);
      opacity: 1;
    }
    @include media-breakpoint-down(sm) {
      text-align: left;
    }
  }

  .section-wizard-step-3-body {
    text-align: center;
    .box-thickness-header {
      transform: translateX(-30%);
      transition: transform cubic-bezier(0.68, 0, 0.265, 1) .6s .2s, opacity cubic-bezier(0.68, 0, 0.265, 1) .2s .2s;
      opacity: 0;
    }
    .box-floor-header {
      transform: translateX(30%);
      transition: transform cubic-bezier(0.68, 0, 0.265, 1) .6s .2s, opacity cubic-bezier(0.68, 0, 0.265, 1) .2s .2s;
      opacity: 0;
    }
    .box-thickness-body {
      transform: translateX(-50%);
      transition: transform cubic-bezier(0.68, 0, 0.265, 1) .8s .6s, opacity cubic-bezier(0.68, 0, 0.265, 1) .8s .6s;
      opacity: 0;
    }
    .box-floor-body {
      transform: translateX(50%);
      transition: transform cubic-bezier(0.68, 0, 0.265, 1) .8s .6s, opacity cubic-bezier(0.68, 0, 0.265, 1) .6s .6s;
      opacity: 0;
    }
    .gfx-man {
      transition: opacity cubic-bezier(0.68, 0, 0.265, 1) .6s 2s;
      opacity: 0;
    }

    .font-fluid {
      font-size: 14px;
      @include media-breakpoint-down(md) {
        display: none;
      }
      @include media-breakpoint-only(lg) {
        font-size: 10px;
      }
      @media (min-width: 1200px) and (max-width: 1640px) {
        font-size: 11px;
      }
    }

    .label {
      i {
        font-size: 70px;
        @include media-breakpoint-only(lg) {
          font-size: 64px;
        }
        @include media-breakpoint-only(md) {
          font-size: 56px;
        }
        @include media-breakpoint-down(sm) {
          font-size: 50px;
          -ms-flex-order: -1;
          order: -1;
          margin-bottom: 12px;
        }
      }
    }

    &.section-enter {
      .box-thickness-header,
      .box-thickness-body {
        transform: translateX(0);
        opacity: 1;
      }
      .box-floor-header,
      .box-floor-body {
        transform: translateX(0);
        opacity: 1;
      }
      .gfx-man {
        opacity: 1;
      }
    }
  }

  .row .position-relative::after {
    content: "";
    position: absolute;
    right: 0;
    top: 90px;
    bottom: 90px;
    width: 1px;
    border: 1px solid $gray-100;
  }

}
