/* main
*******************************************************************/

*:focus {
  box-shadow: none !important;
}

.wizard-summary {
  background-color: $app-color-1;
  min-width: 560px;
  color: $white;
  border-radius: 32px 32px 0 0;
  padding: 16px 56px 32px;
  @include media-breakpoint-down(sm) {
    border-radius: 0;
    padding: 0 26px;
    box-shadow:none;
    width: 100%;
    min-width: auto;
  }
  @include media-breakpoint-only(md) {
    border-radius: 24px 24px 0 0;
    padding: 12px 48px 24px;
  }
  @include media-breakpoint-only(lg) {
    border-radius: 20px 20px 0 0;
    padding: 10px 40px 20px;
  }
  .btn.white {
    &:hover,
    &:focus,
    &:active {
      color: rgba($white, .6);
    }
  }
  position: fixed;
  z-index: 101;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  box-shadow: 0 0 40px 0 rgba(0,0,0,.3);
}

.section-filters {
  text-align: center;
  padding: 80px 0;

  h1 {
    font-size: 44px;
    font-weight: 300;
    margin-bottom: 1.1em;
    strong {
      font-weight: 600;
    }

    @include media-breakpoint-only(xs) {
      font-size: 22px;
    }
    @include media-breakpoint-only(sm) {
      font-size: 28px;
    }
    @include media-breakpoint-only(md) {
      font-size: 32px;
    }
    @include media-breakpoint-only(lg) {
      font-size: 36px;
    }
    @media (min-width: 1200px) and (max-width: 1640px) {
      font-size: 42px;
    }

  }

  .collapsing,
  .collapse {
    text-align: left;
    .collapse-body {
      padding: 60px 0;
    }
    h2 {
      font-size: 22px;
      font-weight: 300;
      margin-bottom: 20px;
    }
    h4 {
      font-size: 18px;
      font-weight: 600;
    }
  }
}

.section-decors {
  margin-bottom: 50px;
  h2 {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
  }
}

.section-summary {
  text-align: center;
  padding: 80px 0;
  background-color: $gray-100;
  h1 {
    font-size: 56px;
    font-weight: 300;
    margin-bottom: 1.1em;

    @include media-breakpoint-only(xs) {
      font-size: 22px;
    }
    @include media-breakpoint-only(sm) {
      font-size: 28px;
    }
    @include media-breakpoint-only(md) {
      font-size: 36px;
    }
    @include media-breakpoint-only(lg) {
      font-size: 46px;
    }
    @media (min-width: 1200px) and (max-width: 1640px) {
      font-size: 42px;
    }

  }
  h2 {
    font-size: 24px;
    font-weight: 300;
  }

  .input-group-text {
    border-color: transparent !important;
  }
  .input-group-prepend + .form-control {
    border-left: 0;
  }
  .form-control,
  .form-control:focus {
    border-color: transparent !important;
  }

  .form-control-lg,
  .form-control-lg:focus {
    border-color: $gray-800 !important;
  }
}
