/* reboot
*******************************************************************/
html {
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $body-color;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
}

a {
  color: $app-color-1;
  &:focus,
  &:hover {
    color: darken($app-color-1, 10%)
  }
}
